$theme-colors: (
  text: #020202,
  color-link__light: #a00,
  color-link__dark: #5ebdac,
  code-color: #db3688,
  code-block-header-color: #f5f5f5,
  border-color: #dfdfdf,
  blockquote-bg-color: #e4e4e4,
  checkbox-border-color: #d3d3d3,
  checkbox-border-color-after: #1f1f1f,
  table-border-color: #a5a5a5,
  table-color: #020202,
  table-tr-bg-color: #d8d8d8,
  table-tr-border-color: #949494,
  table-td-border-color: #949494,
  table-tr-odd-bg-color: #eae0e0,
  table-tr-even-bg-color: #e7e7e7,
);
