$theme-colors: (
  text: #000000,
  color-link__light: #0000cc,
  color-link__dark: #00cc99,
  color-link__visited: #800080,
  code-color: #cc0066,
  code-block-header-color: #d4d0c8,
  border-color: #808080,
  scrollbar-color: #808080,
  blockquote-bg-color: #ffffcc,
  checkbox-border-color: #666666,
  checkbox-border-color-after: #000000,
  table-border-color: #333333,
  table-color: #000000,
  table-tr-bg-color: #c0c0c0,
  table-tr-border-color: #666666,
  table-td-border-color: #666666,
  table-tr-odd-bg-color: #ffffcc,
  table-tr-even-bg-color: #ffffff,
);
