{%- include data.liquid -%}

<section class="fade-in grid">
  <h1 class="text-center grid-title">{{ options.grid.title }}</h1>
  <div class="container">
    <div class="row g-4 justify-content-center">
      {% for item in options.grid.items %}
      <a class="grid-link" href="{{ item.page_url | relative_url }}" class="col-12 fade-in">
        <div class="grid-item">
          {% if item.image %}
            <img class="grid-img" src="{{ item.image | relative_url }}" alt="{{ item.name }}">
          {% else %}
            <div class="grid-img" style="background-color:#ddd;"></div>
          {% endif %}
          <div class="grid-text">
            <h5 class="grid-name">{{ item.name }}</h5>
            {% if item.description %}
              <p class="grid-description">{{ item.description }}</p>
            {% endif %}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
