{%- include data.liquid -%}

<nav class="fixed-top py-3 navbar">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img class="navbar-logo me-2" src="{{ '/assets/images/rawfeed.png' | relative_url }}" alt="{{ site_title }}">
      <a class="navbar-brand fw-bold mb-0" href="{{ '/' | relative_url }}">
        {{ options.title }}
      </a>
    </div>
    <div class="d-flex">
      <a class="nav-btn d-flex align-items-center" href="{{ '/blog/' | relative_url }}">
        <i class="fa-solid fa-blog me-2"></i> Blog
      </a>
      <a class="nav-btn d-flex align-items-center" href="{{ '/contribute/' | relative_url }}">
        <i class="fa-solid fa-handshake-angle me-2"></i> Contribute
      </a>
      <a class="nav-btn d-flex align-items-center" href="{{ '/about/' | relative_url }}">
        <i class="fa-solid fa-circle-info me-2"></i> About
      </a>
      <a class="nav-btn d-flex align-items-center" href="{{ options.github.url }}" target="_blank">
        <i class="fa-brands fa-github me-2"></i> GitHub
      </a>
    </div>
  </div>
</nav>
