{%- include data.liquid -%}

<div class="col-md-4">
  <div class="product-card">
    <h3>{{ include.title }} — <code>{{ include.slug }}</code></h3>
    <p>{{ include.description }}</p>
    {%- if include.version != "" -%}
    <p>latest version: <a href="{{ include.url }}changelog/#{{ include.version |  replace: ".", "" }}">{{ include.version }}</a></p>
    <a href="{{ include.url }}">View →</a>
    {%- else -%}
      <span class="badge" role="status" aria-label="draft">Shortly!</span>
      <div class="badge-small"><small>Become a developer! Help this theme get released, <a href="{{ include.url |  prepend: options.github.url }}" target="_blank">contribute!</a></small></div>
    {%- endif -%}
  </div>
</div>
