<div class="product-card">
  <div class="product-card-titlebar">
    <a href="{% if include.status == 'unreleased' and include.github_url %}{{ include.github_url }}{% else %}{{ include.url }}{% endif %}">
      {{ include.slug }}
    </a>
    {% if include.version and include.version != "" %}
      <span class="product-card-version">v{{ include.version }}</span>
    {% elsif include.status == "unreleased" %}
      <span class="product-card-version">Shortly!</span>
    {% endif %}
  </div>
  <div class="product-card-body">
    <a href="{% if include.status == 'unreleased' and include.github_url %}{{ include.github_url }}{% else %}{{ include.url }}{% endif %}">
      {{ include.slug }}
    </a>
    {% if include.version and include.version != "" %}
      <small>v{{ include.version }}</small>
    {% endif %}
    <p style="margin: 6px 0 0;">{{ include.description }}</p>
    <div class="product-card-footer">
      {% if include.status == "unreleased" %}
        <a class="btn-preview" href="{{ include.github_url }}" target="_blank">Contribute</a>
        <span style="font-size: 12px; color: #666; line-height: 2;">
          Become a developer! Help this theme get released, contribute!
        </span>
      {% else %}
        <a class="btn-preview" href="{{ include.url }}">View project</a>
      {% endif %}
    </div>
  </div>
</div>
