@use "components";

* {
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}

.btn-preview {
  @extend %button;
}

a[target="_blank"]::after {
  content: "🢅";
  font-size: .9em;
  margin-left: 0.25em;
  vertical-align: middle;
}
