.btn-preview {
  display: inline-block;
  padding: 6px 20px;
  background: #d4d0c8;
  color: #000;
  border: 2px outset #808080;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}

.btn-preview:active {
  border: 2px inset #808080;
}

.btn-preview:hover {
  background: #ffff00;
  color: #ff00ff;
}

.img-rounded {
  border: 2px ridge #808080;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}
