.default {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-body {
    font-family: "Courier New", Courier, monospace !important;
    color: #ffffff;
    background-color: #fff;
    border: 2px solid #181818;
    // margin: 0;
    // padding: 0;
    // background-color: #181818;
    // border-radius: 15px;

    width: 85%;
    margin: 0 auto;
    padding: 40px 0px;

    a {
      color: var(--color-link__light) !important;
      font-weight: bold;
      transition: all 0.3s ease;
      text-decoration: none !important;
      &:hover {
        color: black !important;
      }
    }
    .donate {
      a{
        border-bottom: none !important;
      }
    }
  }

  &-main {
    padding: 2rem 0;
    background-color: #f6f5f2 !important;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    max-height: 420px;
    .content {
      color: #181818;
    }
  }
}



