.footer {
  background-color: #181818;
  color: #f8f8f8;
  border-top: 4px solid #737373;
  padding: 1rem 0;
  font-size: 0.85rem;
  text-align: center;


  a {
    color: var(--color-link__dark) !important;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: white !important;
    }
  }
}
