.footer {
  background-color: #000000;
  color: #00ff00;
  border-top: 3px ridge #808080;
  padding: 1rem 0;
  font-size: 0.8rem;
  text-align: center;

  h5 {
    color: #ffff00;
    font-size: 0.95rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  a {
    color: #00ffff !important;
    text-decoration: underline !important;
    &:hover {
      color: #ff00ff !important;
      background-color: transparent;
    }
  }
}
