.header {
  background-color: #181818;
  color: #f8f8f8;
  padding: 1rem 0;
  border-bottom: 4px solid #737373;
  &-title {
    font-size: 1.8rem;
    margin: 0 !important;
    letter-spacing: 1px;
    a {
      color: var(--color-link__dark) !important;
      &:hover {
        color: #f8f8f8 !important;
      }
    }
  }
  &-img {
    border-radius: 6px;
    margin-bottom: 12px;
    border: 2px dotted white;
  }
  &-description {
    margin: 0;
    font-size: 0.9rem;
    color: #bbb;
  }
}


