.retro-wrapper {
  max-width: 960px;
  margin: 10px auto;
  border: 2px ridge #808080;
  background: #ffffff;
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
}

.retro-body {
  flex: 1;
  display: flex;
}

.retro-body > .row {
  flex: 1;
  width: 100%;
}

.retro-main {
  padding: 16px;
  border-left: 2px ridge #808080;
  display: flex;
  flex-direction: column;
}

.retro-main > .content {
  flex: 1;
}

.content {
  max-width: 100%;
  word-wrap: break-word;
}
