.retro-wrapper {
  max-width: 960px;
  margin: 10px auto;
  border: 2px ridge #808080;
  background: #ffffff;
}

.retro-body {
  min-height: 400px;
}

.retro-main {
  padding: 16px;
  border-left: 2px ridge #808080;
}

.content {
  max-width: 100%;
  word-wrap: break-word;
}
