.page-banner {
  width: 100%;
  border: 2px ridge #808080;
  margin-bottom: 12px;
}

.source-code {
  text-align: right;
  margin-bottom: 8px;
}

.source-code a {
  font-size: 24px;
  color: #000;
}

.source-code a:hover {
  background-color: #ffff00;
  color: #ff00ff;
}

.page-content-inner {
  line-height: 1.6;
}
