@use "markdown";

.page {
  @extend %markdown;
  &-banner {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    border: 4px ridge #808080;
    padding: 4px !important;
    margin-bottom: 50px;
    background: #ffffff;
  }
  &-body {
    font-family: "Courier New", Courier, monospace !important;
    color: #000000;
    background-color: #ffffcc;
    border: 3px ridge #808080;
    box-shadow: 4px 4px 0 #666666;
  }

  &-main {
    padding: 2rem 0;
    background-color: #ffffcc !important;
    min-height: 800px;
    .content {
      color: #000000;
      max-width: 860px;
      width: 100%;
      margin: 0 auto;
      padding: 15px;

      border: 3px ridge #808080;
      background-color: #ffffff;

      .highlighter-rouge {
        margin: 15px 0px;
      }

      .source-code {
        a{
          text-align: right;
          font-size: 2rem;
          color: #000000 !important;
          &:hover {
            opacity: .7;
          }
        }
        a[target="_blank"]::after {
          all: unset !important;
        }
      }
    }
  }
}
