@use "markdown";

.page {
  @extend %markdown;
  h1 {
    margin: 0;
  }
  &-body {
    font-family: "Courier New", Courier, monospace !important;
    color: #ffffff;
    background-color: #fff;
    border: 2px solid #181818;

    a {
      color: var(--primary-color) !important;
      font-weight: bold;
      transition: all 0.3s ease;
      text-decoration: none !important;
      &:hover {
        color: black !important;
      }
    }
    .donate {
      a{
        border-bottom: none !important;
      }
    }
  }

  &-main {
    padding: 2rem 0;
    background-color: #f6f5f2 !important;
    min-height: 800px;
    .content {
      color: #181818;
      width: 860px;
      margin: 0 auto;
    }
  }
}
