@use "components";

.product-card {
  border: 2px solid #000000;
  background-color: #ffffff;
  padding: 1.5rem;
  margin-bottom: 2rem;
  min-height: 250px;

  .badge {
    @extend %badge;
    &-small {
      font-size: .8em;
      color: #666666;
      margin: 4px 0px;
    }
  }

  &:hover {
    background-color: #f5f0e8;
  }

  h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #000000;
    code {
      color: #666666;
      font-size: 0.85rem;
    }
  }

  p {
    font-size: 0.9rem;
    color: #333333;
  }

  a {
    font-weight: bold;
  }
}
