@use "components";

.product-card {
  border: 1px solid #ccc;
  background-color: #f9f4eb;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 0 #ccc;
  transition: 0.2s ease;
  min-height: 250px;

  .badge {
    @extend %badge;
    &-small {
      font-size: .87em;
      color: #8a8a8a;
      margin: 4px 0px;
    }
  }

  &:hover {
    box-shadow: 4px 4px 0 #999;
    transform: translate(-2px, -2px);
  }
  h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #000;
  }
  p {
    font-size: 0.95rem;
    color: #737373;
  }
}
