:root {
  .highlight table td { padding: 5px; }
  .highlight table pre { margin: 0; }
  .highlight, .highlight .w {
    color: #00ff00;
    background-color: #1a1a1a;
    border: 2px solid #333333;
  }
  .highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kv {
    color: #ff6600;
  }
  .highlight .hll { background-color: #333333; padding: 3px 0; }
  .highlight .gr { color: #ff0000; }
  .highlight .gd { color: #ff0000; background-color: #330000; }
  .highlight .nb { color: #ffcc00; }
  .highlight .nc { color: #ffcc00; }
  .highlight .no { color: #ffcc00; }
  .highlight .nn { color: #ffcc00; }
  .highlight .sr { color: #00ff00; }
  .highlight .na { color: #66ffcc; }
  .highlight .nt { color: #66ffcc; }
  .highlight .gi { color: #00ff00; background-color: #003300; }
  .highlight .ges { font-weight: bold; font-style: italic; }
  .highlight .kc { color: #66ccff; }
  .highlight .l, .highlight .ld, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
    color: #66ccff;
  }
  .highlight .sb { color: #66ccff; }
  .highlight .bp { color: #66ccff; }
  .highlight .ne { color: #66ccff; }
  .highlight .nl { color: #66ccff; }
  .highlight .py { color: #66ccff; }
  .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
    color: #66ccff;
  }
  .highlight .o, .highlight .ow { color: #66ccff; }
  .highlight .gh { color: #66ccff; font-weight: bold; }
  .highlight .gu { color: #66ccff; font-weight: bold; }
  .highlight .s, .highlight .sa, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .ss {
    color: #ffcc00;
  }
  .highlight .nd { color: #ff66ff; }
  .highlight .nf, .highlight .fm { color: #ff66ff; }
  .highlight .err { color: #ffffff; background-color: #ff0000; }
  .highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs {
    color: #808080;
  }
  .highlight .gl { color: #808080; }
  .highlight .gt { color: #808080; }
  .highlight .ni { color: #00ff00; }
  .highlight .si { color: #00ff00; }
  .highlight .ge { color: #00ff00; font-style: italic; }
  .highlight .gs { color: #00ff00; font-weight: bold; }
}
