@use "theme" as theme;
@use "base";
@use "default";
@use "page";
@use "blog";
@use "post";
@use "header";
@use "product_card";
@use "footer";
@use "rouge-light";
@use "highlight";
@use "markdown";

:root[data-theme="light"] {
  --text-color: #{theme.theme-color(text, light)};
  --primary-color: #{theme.theme-color(primary, light)};
  --second-color: #{theme.theme-color(second, light)};
  --code-block-header-color: #{theme.theme-color(code-block-header-color, light)};
  --code-color: #{theme.theme-color(code-color, light)};
  --border-color: #{theme.theme-color(border-color, light)};
  --scrollbar-color: #{theme.theme-color(scrollbar-color, light)};
  --blockquote-bg-color: #{theme.theme-color(blockquote-bg-color, light)};
  --footer-border-color: #{theme.theme-color(footer-border-color, light)};
  --footer-bg-color: #{theme.theme-color(footer-bg-color, light)};
  --checkbox-border-color: #{theme.theme-color(checkbox-border-color, light)};
  --checkbox-border-color-after: #{theme.theme-color(checkbox-border-color-after, light)};
  --table-border-color: #{theme.theme-color(table-border-color, light)};
  --table-color: #{theme.theme-color(table-color, light)};
  --table-tr-bg-color: #{theme.theme-color(table-tr-bg-color, light)};
  --table-tr-border-color: #{theme.theme-color(table-tr-border-color, light)};
  --table-td-border-color: #{theme.theme-color(table-td-border-color, light)};
  --table-tr-odd-bg-color: #{theme.theme-color(table-tr-odd-bg-color, light)};
  --table-tr-even-bg-color: #{theme.theme-color(table-tr-even-bg-color, light)};
}
