{%- include data.liquid -%}

<!DOCTYPE html>
<html id="top" lang="{{ default_.lang | default: 'en-US' }}" data-theme="light">
<head>
  {% include head.html %}
</head>
<body>
  <div class="retro-wrapper">
    {% include header.html %}
    <div class="retro-body">
      <div class="row g-0">
        <div class="col-md-3 sidebar-col">
          {% include sidebar.html %}
        </div>
        <div class="col-md-9 retro-main">
          <div class="content page-content-inner">
            {%- if page.url == "/about/" and page.banner -%}
              <div class="row">
                <img class="page-banner" src="{{ page.banner }}" alt="{{ page.title }}">
              </div>
            {%- endif -%}
            {%- if page.category == "product" -%}
              {%- if page.src_url -%}
              <div class="source-code">
                <a href="{{page.src_url}}" target="_blank"><i class="fa-brands fa-github"></i></a>
              </div>
              {%- endif -%}
            <div style="text-align: center;">
            <h1>{{ page.title }}{%- if page.repo_name -%} <span style="font-size: .7em">{{ page.repo_name | markdownify }}</span>{%- endif-%}</h1>
              <small>{{ page.description }}</small>
              <br>
              {%- if page.badge.url -%}
                <a href="{{ page.badge.url }}"><img src="{{ page.badge.img-src }}" alt="{{ page.badge.alt }}" height="{{ page.badge.height }}"></a>
              {%- endif -%}
              <br><br>
              {%- if page.btn.preview.url -%}
              <a class="btn-preview" href="{{ page.btn.preview.url }}" target="_blank">{{ page.btn.preview.title }}</a>
              {%- endif -%}
            </div>
            {%- endif -%}
            {{ content | markdownify }}
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </div>
  <script src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
</body>
</html>
